.updaterecipedetail{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: azure;
    background-image: url('https://media.istockphoto.com/id/507212121/sv/foto/healthy-food-background.jpg?s=612x612&w=0&k=20&c=4qQ_g8wf_CZi3kgKpHwfCzkDX7Bgd65IDlOFuU9U4qo=');
    background-size: 100% 100%;
    background-attachment: fixed;
}